<div class='home-container'>
  <div class='home-upload-form'>
    <%= render "shared/book_upload", book: @book %>
    <% if @book.manuscript.attached? %>
      <%= cl_image_path @book.manuscript.key %>
    <% end %>
  </div>
  <div class='language-dropdowns'>
    <div>
      <%= render "shared/origin_language_dropdown" %>
    </div>
      <%= render "shared/target_language_dropdown" %>
    <div>
    </div>
  </div>
  <h1 id="instructions-title">Turn your books into flashcards</h1>
  <div class='home-content'>
    <div class='instruction-image-side'>
      <%= image_tag "screenshot1.png"%>
      <div >
        <%= image_tag "superhero.png", class:"gorilla-logo"%>
      </div>
    </div>
    <div class='instruction-placeholder'>

      <h4>1. Click on "Choose file" and select a book</h4>
    </div>
  </div>
</div>
