<div id="class-container">
  <h1 class="top-header">My Books 📚</h1>
  <div class="cards">
    <% @books.each do |book| %>
      <div class="card my-relative">
        <div>
        <% if book.image_url %>
          <%= image_tag(book.image_url) %>
        <% else %>
          <%= image_tag("https://howtodrawforkids.com/wp-content/uploads/2022/07/how-to-draw-an-open-book.jpg") %>
        <% end %>
          <div class="card-info">
            <h4><%= book.title %></h4>
            <p><%= book.cards.pluck(:chapter).last %> Chapters</p>
          </div>
        </div>
        <%= link_to '', study_path(book), class: "my-overlay" %>
      </div>
    <% end %>
  </div>
</div>
<%#= link_to image_tag(book.image_url), study_path(book) %>
