<div id="class-container">
  <h1 style="margin-top:25px; margin-bottom:25px;">My Books 📚</h1>
  <div class="cards">
    <div class='upload-card'>
      <%# <i class=" upload-icon fa-solid fa-book-medical"></i> %>
      <%= render "shared/index_book_upload", book: @book, class: 'upload-card-content' %>
      <% if @book.manuscript.attached? %>
        <%= cl_image_path @book.manuscript.key %>
      <% end %>
    </div>
    <% @books.each do |book| %>
      <div class="card my-relative">
        <div id="delete-icon">
        </div>
        <div>
          <% if book.image_url %>
            <%= image_tag(book.image_url) %>
          <% else %>
            <%= image_tag("https://howtodrawforkids.com/wp-content/uploads/2022/07/how-to-draw-an-open-book.jpg") %>
          <% end %>
          <div class="card-info">
            <h4><%= book.title %></h4>
            <p><%= book.cards.pluck(:chapter).uniq.sort.last %> Chapters</p>
            <p><%= book.cards.count %> cards</p>
          </div>
        </div>
        <% if book.processing == true %>
          <div class = "my-overlay" style="background: rgba(255,255,255,.5)"></div>
        <% else %>
          <%= link_to '', study_path(book), class: "my-overlay" %>
        <% end %>
        <% unless book.processing == true %>
          <%= link_to book_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/484/484560.png", id: "card-show-delete" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%#= link_to image_tag(book.image_url), study_path(book) %>
