<div id= "show-container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chapter <%= params[:chapter] || "1" %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @organized_chapters.each do |organized_chapter| %>
        <%=link_to "Chapter #{organized_chapter}", book_path(@book, chapter: organized_chapter), class:"dropdown-item", data: { turbo:false }%>
      <% end %>
    </div>
  </div>
  <h2 id="deck-total">This deck has <%= @deck.count %> cards</h2>
  <%=link_to "Add Flashcard", new_book_card_path(@book), class:"btn btn-primary", style:"align-self: end;"  %>
  <div class="scene-show scene--card">
    <div class="flashcard-show-grid">
      <% @deck.each do |card| %>
        <div class="flashcard-show" data-book-target="card" data-action="click->book#flipCards" data-controller="book">
          <div class="flashcard__face flashcard__face--front"><%= card.origin_word %>
            <div id="flashcard-show-icons">
              <%= link_to edit_card_path(card) do %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/1828/1828911.png", class:"flashcard-show-edit" %>
              <% end %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/484/484611.png", class: "flashcard-show-delete" %>
            </div>
          </div>
          <p class="flashcard-instruction">Touch to flip</p>
          <div class="flashcard__face flashcard__face--back"><%= card.translation_word %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
