<div id= "flashcard-container" data-controller="progress">
  <h2 class="top-header"><%= @book.title %></h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chapter <%= params[:chapter] || "1" %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @organized_chapters.each do |organized_chapter| %>
        <%=link_to "Chapter #{organized_chapter}", study_book_path(@book, chapter: organized_chapter), class:"dropdown-item", data: { turbo:false }%>
      <% end %>
    </div>
  </div>
  <%# put the data controller above the full array, as we'll need to give the first card active class %>
  <%# card-list will be targeted when page starts up %>
  <div style= "width: 300px;" class= "pt-4">
  <div class= "mw-100" ><%= render "shared/progressbar"%></div>
  </div>
  <div class="scene scene--card" data-controller="book" data-book-target="deck" >
    <% @array.each do |card| %>

      <div class="flashcard d-none" data-card-id="<%= card.id%>" data-book-target="card">
        <div class="flashcard__face flashcard__face--front" data-controller='speech' data-language='EN'><span data-speech-target='word'><%= card.origin_word %></span>
          <i class="fa-solid fa-volume-high" data-action='click->speech#talk'></i>
        </div>
        <p class="flashcard-instruction-front" data-action="click->book#flipCards">Touch to flip</p>

        <div class="flashcard__face flashcard__face--back" data-controller='speech' data-language='JP'><span data-speech-target='word'><%= card.translation_word %></span>
          <i class="fa-solid fa-volume-high" data-action='click->speech#talk'></i>
          <div id="flashcard-btn">
            <button class="btn btn-danger" data-action="click->book#destroy">Don't know</button>
            <button class="btn btn-success" data-action="click->book#destroy">Know</button>
            <p class="flashcard-instruction-back" data-action="click->book#flipCards">Touch to flip</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Edit your decks", book_path, class:"btn btn-primary", style:"align-self: center;" %>
</div>
