<div id= "flashcard-container">
  <h2 class="top-header"><%= @book.title %></h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chapter <%= params[:chapter] || "1" %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @organized_chapters.each do |organized_chapter| %>
        <%=link_to "Chapter #{organized_chapter}", study_book_path(@book, chapter: organized_chapter), class:"dropdown-item", data: { turbo:false }%>
      <% end %>
    </div>
  </div>
  <%# put the data controller above the full array, as we'll need to give the first card active class %>
  <%# card-list will be targeted when page starts up %>
  <div class="scene scene--card" data-controller="book" data-book-target="deck" >
    <% @array.each do |card| %>
      <div class="flashcard d-none" data-book-target="card" data-action="click->book#flipCards">
        <div class="flashcard__face flashcard__face--front"><%= card.origin_word %>
        </div>
        <p class="flashcard-instruction">Touch to flip</p>
        <div class="flashcard__face flashcard__face--back"><%= card.translation_word %>
          <div id="flashcard-btn">
            <button class="btn btn-danger" data-action="click->book#dontKnow">Don't know</button>
            <button class="btn btn-success" data-action="click->book#destroy">Know</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Edit your decks", book_path, class:"btn btn-primary", style:"align-self: center;" %>
</div>
