<div class='container'>
  <div class='d-flex'>
  </div>
  <h1 class='text-center pt-5'>Edit your card</h1>

  <div class='d-flex justify-content-around pt-3'>
    <div class='edit-word'>
      <%= simple_form_for [@book, @card] do |f| %>
        <%= f.input :origin_word %>
    </div>
    <div class='edit-content'>
        <%= f.input :furigana, item_wrapper_class: 'edit-form' %>
        <%= f.input :translation_word, item_wrapper_class: 'edit-form' %>
        <%= f.input :example_sentence, item_wrapper_class: 'edit-form' %>
        <%= f.input :chapter, item_wrapper_class: 'edit-form' %>
    </div>
  </div>

  <div class='d-flex justify-content-around pt-4'>
    <%= link_to 'Cancel', book_path(@card.book), class: 'edit-cancel-button' %>
        <%= f.submit 'Save', class: 'edit-save-button' %>
      <% end %>
  </div>
</div>
